*{
     font-family: "Poppins", sans-serif;
}
.font-bangla { 
      font-family: "Hind Siliguri", sans-serif;

}   
.active{
      background-color: rgb(239, 249, 252);
      border: 1px solid blue;
      color:blue
}